/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}

.buo{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.buo img {
    width: 250px;
    margin-bottom: 0px;
    filter: brightness(0) saturate(100%) invert(9%) sepia(95%) saturate(752%) hue-rotate(232deg) brightness(95%) contrast(105%);
}

.lalagyanan{
    display: flex;
    justify-content: center;
}

/* Styling the Form Header */
/* h2 {
    text-align: center;
    color: #003366;  
    font-size: 2.5em;
    margin-bottom: 25px;
    font-weight: 700;
} */

h2 {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    color: #2e2e2e;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.otp-container input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
/* .verify-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
} */

.verify-btn {
    display: block;
    width: 100%;
    padding: 12px 18px;
    margin-top: 15px;
    margin-bottom: 5px;
    background:  #f57c00; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
  }
  
  .verify-btn:hover {
    background: #ef6c00;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  .verify-btn:active {
    transform: translateY(0px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  
.resend {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}

.guide {
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.8px;
}

/* Responsive Design for Mobile */
@media (max-width: 480px) {
    form {
        padding: 20px;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    button, input[type="text"] {
        font-size: 15px;
    }
}
