/* General Body Styling */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e0f7fa, #80d6ff);  /* Light gradient background */
}

.buo{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
}

.buo img {
    width: 60px;
    margin-bottom: 10px;
}

.lalagyanan{
    display: flex;
    justify-content: center;
}

/* Styling the Form Header */
/* h2 {
    text-align: center;
    color: #003366;  
    font-size: 2.5em;
    margin-bottom: 25px;
    font-weight: 700;
} */

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.otp-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.otp-container input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.verify-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.resend {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
    text-decoration: none;
}

.guide {
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;

}

/* Responsive Design for Mobile */
@media (max-width: 480px) {
    form {
        padding: 20px;
    }
    
    h2 {
        font-size: 1.8em;
    }
    
    button, input[type="text"] {
        font-size: 15px;
    }
}
